.container {
  position: relative;
  border: 20px solid coral;
  padding: 50px;
  text-align: center;
  background-color: rgb(79, 79, 79);
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
  color: white;
}

.center {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.button {
  background-color: #b0b0b0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;
  box-shadow: 0 9px #8f8f8f;
  border-radius: 5px;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.button:active {
  background-color: #3e8e41 !important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}  



.button:focus {
  outline: 3px dashed orange;
  color: white;
  background-color: #4CAF50
}

.textbox {
  background-color: #b0b0b0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;
  box-shadow: 0 9px #8f8f8f;
  border-radius: 5px;
}

.textbox:focus {
  outline: 3px dashed orange;
  color: white;
  background-color: #4CAF50
}

.textbox:hover {
  background-color: #4CAF50;
  color: white;
}

.bigcontainer {
    align-items: center;
    height: 100vh;
    width: auto;
    margin: 0;
    padding:50px;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

